
* { 
    box-sizing:border-box
}

body {
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial; margin:0; 
    background:#f4f4f4; 
    color: 353535
}

main {
    min-height:100vh
}

header {
    background-color: #6943ff;
    padding:56px 24px 64px; 
    text-align:center
}

h1 {
    color:white; 
    font-weight:800; 
    font-size:28px; 
    margin:0 0 28px
}

.input_container {
    
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


input {
    display: inline-block;
    width: 144px; 
    height: 96px; 
    border-radius: 8px; 

    /* typography*/
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; 

    /* style */
    border: 2px solid #B295FF;
    border-radius: 8px;
    background: transparent;
}

.convert_btn {
    background: white; 
    padding: 8px 24px; 
    border-radius: 6px; 
    border: 0; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05); 
    cursor: pointer;

/* typography*/
    color: #3D3D3D; 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    font-weight: 600;
}

section {
    max-width:800px;
    padding: 12px;
    margin: 24px auto;
}

.card {
    background: white; 
    padding: 24px 32px; 
    margin: 16px 0; 
    border-radius: 4px; 
    
}


h2 {

    /* typography */
    
    color: #5A537B;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.conversion_result {
    color: #353535; 
    text-align: center; 
    margin: 0; 
    font-size: 14px;
}


